{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1 class="title-page">Ajouter une catégorie</h1>
    <a class="btn btn-primary mt-3" href="{{ path('category_index') }}">retour à la liste</a>
    <div class="div-edit col-xl-4 col-md-8 col-12  mx-auto rounded shadow-lg mt-5 p-5 d-flex flex-column justify-content-center">
        {{ include('category/_form.html.twig') }}
    </div>

{% endblock %}
