{% extends 'base.html.twig' %}

{% block title %}New RefreshToken{% endblock %}
{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('refreshToken') }}{% endblock %}

{% block body %}
    <h1>Create new RefreshToken</h1>

    {{ include('refresh_token/_form.html.twig') }}

    <a href="{{ path('refresh_token_index') }}">retour à la liste</a>
{% endblock %}
