{% extends 'base.html.twig' %}

{% block title %}New QuestionType{% endblock %}
{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('questionType') }}{% endblock %}

{% block body %}
    <h1 class="title-page">Ajouter un type de question</h1>
    <a class="btn btn-primary mt-3" href="{{ path('question_type_index') }}">retour à la liste</a>
    <div class="div-edit col-xl-4 col-md-8 col-12   rounded  mt-5 d-flex flex-column justify-content-center">
        {{ include('question_type/_form.html.twig') }}
    </div>
{% endblock %}
