:root {
    --game-mode-border-color: #fff;
}

.game-mode-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-mode {
    border: 3px solid var(--game-mode-border-color);
    border-radius: 30px;

    color: #fff;
    background-color: var(--element-primary-background-color);

    transition: background-color 0.15s ease-out;
    padding: 0;

    margin: 10px;

    overflow: hidden;

    position: relative;
}

.game-mode:not(.mobile) {
    height: 280px;
    width: 280px;
}

.game-mode.mobile {
    border: 3.5px solid #fff;
    border-radius: 15px;
    width: 400px;
    height: auto;
}

.game-mode-disabled-mobile {
    display: none;
}

.game-mode.mobile .game-mode-disabled-mobile {
    display: initial;
}

.game-mode-button-content {
    /*border: 3px solid red;*/

    transition: transform 0.15s ease-out;
}

.game-mode:not(.mobile) .game-mode-button-content {
    height: 100%;
}

.game-mode.mobile .game-mode-button-content {
    display: flex;
}

.game-mode:not(.mobile):hover .game-mode-button-content {
    transform: translateY(-80%);
}

.game-mode:not(.disabled):hover {
    cursor: pointer;

    /*background-color: #DC71C7;*/
}

.game-mode.disabled.disabled-animation {
    animation: game-mode-disabled-click 0.2s linear;
}

@keyframes game-mode-disabled-click {
    0% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(8px);
    }

    40% {
        transform: translateX(-6px);
    }

    60% {
        transform: translateX(4px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

.game-mode-label-mobile {
    font-size: 2rem;

    margin-top: 10px;

    display: none;
}

.game-mode.mobile .game-mode-label-mobile {
    display: block;
}

.game-mode-label-container {
    /*border: 3px solid yellow;*/

    display: flex;
    flex-direction: column;

    height: 100%;
}

.game-mode.mobile .game-mode-label-container {
    align-self: center;
}

.game-mode-icon-container {
    /*border: 3px solid mediumpurple;*/

    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-mode.mobile .game-mode-icon-container {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.game-mode-icon {
    max-width: 80%;
    max-height: 80%;
}

.game-mode.mobile .game-mode-icon {
    max-width: 90%;
    max-height: 90%;
}

.game-mode-label-desktop {
    /*border: 3px solid orange;*/

    height: 20%;

    text-align: center;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-mode.mobile .game-mode-label-desktop {
    display: none;
}

.game-mode-label-disabled-desktop {
    max-width: 30px;
    max-height: 30px;

    margin-left: 5px;
}

.game-mode.mobile .game-mode-label-disabled-desktop {
    display: none;
}

.game-mode-description-container {
    /*border: 3px solid palevioletred;*/

    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-mode.mobile .game-mode-description-container {
    width: 100%;

    align-self: center;

    margin-bottom: 10px;
}

.game-mode-description {
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: 10px;*/
}

.game-mode.mobile .game-mode-description {
    font-size: 1rem;

    text-align: left;
}

.game-mode:focus {
    outline: none;
}

@media screen and (max-width: 375px) {
    .game-mode.mobile .game-mode-icon-container {
        width: 50px;
        height: 50px;
    }

    .game-mode.mobile .game-mode-description {
        font-size: 0.9rem;
    }
}
