@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    position: relative;

    background-color: #2FB0DD;
    min-height: 100vh;
    margin-bottom: -60px;

    font-family: 'Lato', sans-serif;
    color: white;
}

a {
    color: inherit;
    text-decoration: underline;

    transition: color 0.1s ease-out;
}

a:hover {
    color: #b1e7fa;
    cursor: pointer;
}

.app:not(.loading) {
    /*opacity: 1;*/
    /*transform: none;*/

    animation: loaded-app-fadein 0.6s cubic-bezier(.35,.85,.45,1);
}

@keyframes loaded-app-fadein {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.content-wrapper {
    min-height: calc(100vh - 60px);
    font-size: 1.1em;
}

.app-header {
    padding: 20px;
}

.header-user {
    float: right;
    display: table;
}

.header-user > div {
    display: table-cell;
    vertical-align: middle;
}

.header-user-settings-cog {
    padding-left: 10px;
    font-size: 1.3em;
}

.header-user-settings-cog a svg {
    transition: transform 0.1s ease-out;
}

.header-user-settings-cog a:hover {
    color: inherit;
}

.header-user-settings-cog a:hover svg {
    transform: rotate(30deg);
}

.header-user-logout-button {
    padding-left: 15px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button-door {
    transform-origin: left center;
    transition: transform 0.1s ease-out;
}

.logout-button:hover .logout-button-door {
    transform: scale(0.9);
}

.logout-button .logout-button-arrow {
    transition: transform 0.1s ease-out;
}

.logout-button:hover .logout-button-arrow {
    transform: translateX(10%);
}

.app-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    animation: app-loader-fadein 1s;
}

.app-loader > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes app-loader-fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.app > footer {
    width: 100%;
    height: 60px;

    display: table;
}

.app > footer .footer-text {
    display: table-cell;
    vertical-align: middle;

    text-align: center;
}

.app > footer .footer-text-item {
    margin-left: 5px;
    margin-right: 5px;
}

#page-content {
    margin-left: 40px;
    margin-right: 40px;
}

input {
    position: relative;

    border: 1px solid rgba(200, 200, 200, 0.3);
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: background-color 0.1s ease-out;
}

input.error {
    color: #bb1717;
    background-color: #f0d3d3;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4)
}

input:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

label.checkbox {
    position: relative;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    opacity: 0;
}

label.checkbox > input + span {
    margin-left: 8px;
    user-select: none;
}

label.checkbox > input + span::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;

    border: 2px solid #fff;
    border-radius: 3px;

    transition: background-color 0.1s ease-out;

    cursor: pointer;
}

label.checkbox > input + span::after {
    content: '';
    width: 8px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 6px;
    border-bottom: 3px solid #2FB0DD;
    border-right: 3px solid #2FB0DD;
    border-bottom-right-radius: 2px;

    transform: rotate(40deg);

    cursor: pointer;

    opacity: 0;
    transition: opacity 0.1s ease-out;
}

label.checkbox > input:checked + span::before {
    background-color: #fff;
}

label.checkbox > input:checked + span::after {
    opacity: 1;
}

button:disabled {
    opacity: 0.6;
}

#login-form,
#register-form,
#forgot-password-form,
#reset-password-form {
    max-width: 600px;
    margin: auto;
}

.button {
    font-family: inherit;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    padding: 10px 20px;

    border: none;
    border-radius: 10px;

    transition: background-color 0.1s ease-out;
}

.button:focus {
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.button.green {
    background-color: #219c4a;
    color: #f8f8f8;
}

.button.green:hover {
    background-color: #34bc61
}

#page-lateral-navigation {
    width: 260px;
    padding-right: 20px;
}

#page-lateral-navigation ul {
    width: 100%;
}

#page-lateral-navigation ul li {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

#page-lateral-navigation ul li a {
    display: inline-block;
    width: 100%;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.1s ease-out;
}

#page-lateral-navigation ul li a:hover {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.075);
}

#page-lateral-navigation ul li.active a {
    background-color: rgba(255, 255, 255, 0.15);
}

#desktop-variable-content > section:not(.active) {
    display: none;
}

.back-arrow-button {
    background: none;
    border: none;
    cursor: pointer;
}

.back-arrow-button:hover {
    filter: brightness(95%);
}

.back-arrow-button:focus {
    outline: none;
}

.home-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.home-title-description {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.homepage-button {
    width: 40%;
    padding: 80px;
    border-radius: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.homepage-button:focus {
    outline: none;
}

.create-room-button {
    background-color: #217D9E;
}

.join-room-button {
    background-color: #f7c634;
}

.homepage-button-label {
    font-size: 3em;
    color: white;
}

.create-game-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.game-mode-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.game-mode {
    width: 34%;
    padding: 20px 40px 40px 40px;
    margin-bottom: 80px;
    border-radius: 40px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.game-mode:enabled:hover {
    filter: brightness(95%);
}


.game-mode:enabled:hover {
    cursor: pointer;
}

.game-mode:focus {
    outline: none;
}

.game-mode-label {
    font-size: 2.3em;
    color: white;
    margin-bottom: 20px;
}

.game-mode-description {
    color: white;
    font-size: 1.4em;
    line-height: 1.3em;
}

.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 13%;
    margin-left: 130px;
    margin-bottom: 60px;

}

.category {
    padding: 40px 0;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #1888C6;
}

.category:hover {
    filter: brightness(1.05);
}

.category:focus:visited {
    background-color: #1888C6;
}

.category:focus {
    outline: none;
}

.category-selected {
    background-color: #5B1EBC;
}

.category-name {
    font-size: 1.8em;
    color: white
}

.gm-serie {
    background-color: #EAB01F;
}

.gm-ascension {
    background-color: #217D9E;
}

.gm-blitz {
    background-color: #DE4567;
}

.gm-survivant {
    background-color:  #1E9B48;
}

.large-button {
    border: none;
    border-radius: 20px;
    padding: 20px 60px;
    font-size: 1.6em;
    cursor: pointer;
}

.large-button:hover {
    filter: brightness(1.05);
}

.pick-buttons-wrapper {
    display: flex;
    margin-bottom: 25px;
}

.pick-buttons {
    width: 25%;
    border: none;
    border-radius: 10px;
    padding: 5px
}

.pick-buttons:focus {
    outline: none;
}

.pick-buttons:enabled:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.pick-all {
    background-color: #1E9B48;
    margin-right: 20px;
}

.unpick-all {
    background-color: #CE3D1B;
}

.game-options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.game-options-section-header {
    font-size: 1.6em;
    color: #003C4C;
    margin-bottom: 40px;
}

.question-type-container {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.question-type-checkbox {
    opacity: 1 !important;
    width: 30px !important;
    height: 30px !important;
    display: inline;
}

.question-type-name {
    font-size: 1.5em;
    margin-left: 10px;

}

.question-type-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}


.win-criterion-input {
    width: 20%;
    font-size: 2em;
    text-align: center;
}

.win-criterion-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.win-criterion-max {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.next-button {
    color: white;
    background-color: #1E9B48;
}

.next-button:focus {
    outline: none;
}

.cross-button {
    border: none;
    background: none;
}

.cross-button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.cross-button:focus {
    outline: none;
}

.question-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.question-header-info {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2em;
}

.question-header-info-box {
    border-radius: 10px;
    text-align: center;
    padding: 5px 65px;
}

.question-header-info-box:nth-child(2)
{
    margin-top: 10px;
    text-transform: capitalize;
}

.question-round {
    font-size: 2.2em;
    margin-bottom: 30px;
}

.question-content {
    font-size: 1.6em;
    text-align: center;
}

.question-screen-container {
    display: flex;
    justify-content: space-between;
}

.question-screen-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question-screen-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.qcm-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-bottom: 40px;
}

.qcm-box {
    width: 45%;
    border: none;
    border-radius: 30px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qcm-box:nth-child(1), .qcm-box:nth-child(2) {
    margin-bottom: 50px;
}

.qcm-box:enabled:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.qcm-box:focus {
    outline: none;
}

.qcm-answer {
    font-size: 1.7em;
    color: white;
}

.answer-container {
    display: flex;
}

.answer-screen-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answer-screen-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto
}

.answer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.answer-result {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.answer-round {
    font-size: 1.4em;
}

.answer-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ROW IN V2 */
}

.good-answer {
    font-size: 2.3em;
    margin-bottom: 30px;
}

.scores-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.player-score-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.player-box {
    border-radius: 10px;
    font-size: 1.6em;
}

.player-rank-box {
    padding: 20px 20px;
}

.player-score-info-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.player-score-info {
    padding: 20px 10px;
    width: 100%;
}

.player-username {
    margin-right: 150px;
    width: 100%;
}

.lobby-container {
    display: flex;
    flex-direction: column;
}

.lobby-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.lobby-info-container {
    display: flex;
    justify-content: space-between;
}

.lobby-info-left-container {
    display: flex;
    flex-direction: column;
}

.lobby-info-center-container {
    width: 40%;
}

.lobby-info-right-container {
    display: flex;
    flex-direction: column;
}

.lobby-box {
    background-color: #2EC6EF;
    margin-bottom: 50px;
}

.lobby-box-header {
    display: flex;
    background-color: #217D9E;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 5px 5px 5px;
}

.lobby-box-content {
    padding: 15px;
}

.lobby-box-header-label {
    font-size: 1.1em;
    margin: 0 auto;
}

.lobby-options-label {
    color: #217D9E;
    font-weight: bold;
    margin-bottom: 15px;
}

.lobby-win-criterion {
    margin-left: 15px;
    color: white;
    font-size: 1.7em;
}

.lobby-edit-button {
    background: none;
    border: none;
}

.lobby-edit-button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.lobby-edit-button:focus {
    outline: none;
}

.lobby-game-mode {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

.lobby-value-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.lobby-value-wrapper {
    background-color: #217D9E;
    width: 45%;
    padding: 5px;
    margin-bottom: 10px;
}

.lobby-value {
    text-transform: capitalize;
    text-align: center;
}

.leave-button {
    color: white;
    background-color: #DE2D48;
}

.leave-button:focus {
    outline: none;
}

.player-line-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.player-line {
    color: #232323;
    font-size: 1.1em;
}

.lobby-room-code {
    text-align: center;
    font-size: 2.4em;
}

/* --------------------- RESPONSIVE SECTION --------------------- */

/* Large */
@media screen and (max-width: 1200px) {

    /* Homepage */
    .homepage-button {
        width: 40%;
        padding: 50px;
    }


    /* game Modes */
    .game-mode {
        width: 40%;
    }

    .game-mode-description {
        font-size: 1.5em;
    }

    /* Categories */
    .category-wrapper {
        width: 18%;
        margin-left: 60px;
        margin-bottom: 60px;
    }

    /* Game Options */
    .win-criterion-input {
        width: 25%;
    }

    /* Question */
    .question-header-info-box {
        padding: 5px 40px;
    }

    /* Lobby */
    .lobby-value-container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .lobby-value-wrapper {
        width: 60%;
    }

}

/* Medium */
@media screen and (max-width: 992px) {

    /* Homepage */
    .homepage-button {
        width: 70%;
        margin-bottom: 60px;
    }

    /* Game modes */
    .game-mode {
       width: 40%;
    }

    /* Categories */
    .category-wrapper {
        width: 20%;
        margin-left: 50px;
        margin-bottom: 60px;
    }

    /* Game Options */
    .win-criterion-input {
        width: 30%;
    }

    /* Question */
    .question-header-info-box {
        padding: 5px 30px;
    }

    /* Answer */
    .player-box {
        font-size: 1.3em;
    }

    .good-answer {
        font-size: 1.8em;
    }

    /* Lobby */
    .lobby-value-wrapper {
        width: 70%;
    }

    .lobby-info-center-container {
        margin: 0 20px;
    }


}

/* Small */
@media screen and (max-width: 768px) {

    /* Homepage */
    .homepage-button {
        width: 80%;
    }

    /* Game modes */
    .game-mode {
        width: 100%;
        margin-bottom: 30px;
    }

    .game-mode-container {
        flex-direction: column;
    }

    .game-mode-description {
        font-size: 1.6em;
        line-height: 1.4em;
    }

    /* Categories */
    .category-wrapper {
        width: 25%;
        margin-bottom: 60px;
    }

    .category-name {
        font-size: 1.7em;
        color: white
    }

    /* Question */
    .qcm-box {
        padding: 50px;
    }


    .question-screen-container {
        flex-direction: column;
    }

    .question-screen-left {
        order: 1;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

    .question-screen-right {
        order: 2;
        margin-bottom: 30px;
    }

    .question-screen-center {
        order: 3;
        margin-bottom: 0;
    }

    /* Answer */
    .answer-container {
        display: flex;
        flex-direction: column;
    }

    .answer-screen-left {
        flex-direction: row-reverse;
        margin-bottom: 30px;
    }

    .scores-container {
        margin-bottom: 0;
    }

    .good-answer {
        font-size: 1.5em;
    }

    /* Lobby */
    .lobby-info-container {
        flex-direction: column;
    }

    .lobby-box {
        flex: 1;
        margin-right: 40px;
    }

    .lobby-info-left-container {
        margin-right: 20px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        order: 1;
    }

    .lobby-info-left-container > :not(.lobby-box) {
        align-self: center;
    }

    .lobby-info-right-container {
        margin-left: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        order: 2;
    }

    .lobby-info-right-container > :not(.lobby-box) {
        align-self: center;
    }

    .lobby-info-center-container {
        width: 100%;
        order: 3;
    }

    .lobby-value {
        font-size: 1em;
    }

    .lobby-game-mode {
        font-size: 1.3em;
    }

    .player-line {
        font-size: 1em;
    }

}

/* X-Small */
@media screen and (max-width: 576px) {

    /* Homepage */
    .homepage-button-label {
        font-size: 1.8em;
    }

    /* Create game cycle */
    .create-game-header {
        flex-direction: column;
    }

    /* Game modes */
    .game-mode-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .game-mode-description {
        font-size: 1.4em;
    }

    /* Categories */
    .category-wrapper {
        width: 35%;
        margin-left: 30px;
        margin-bottom: 60px;
    }

    .category {
        padding: 30px 0;
    }

    .category-name {
        font-size: 1.2em;
    }

    .pick-buttons {
        width: 30%;
    }

    .large-button {
        padding: 15px 40px;
        font-size: 1.3em;
    }

    /* Game Options */
    .win-criterion-input {
        width: 50%;
    }


    /* Question */
    .question-round {
        font-size: 1.6em;
        margin-bottom: 20px;
    }

    .question-content {
        font-size: 1.1em;
    }

    .qcm-answer {
        font-size: 1.2em;
    }

    /* Answer */

    .player-username {
        margin-right: 30px;
    }

    .player-box {
        font-size: 1.1em;
    }

    .answer-result {
        font-size: 2em;
    }

    .good-answer {
        font-size: 1.3em;
    }

    /* Lobby */
    .lobby-info-container {
        flex-direction: column;
        justify-content: center;
    }

    .lobby-info-left-container {
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
        order: 1;
        flex-direction: column;
    }

    .lobby-info-right-container {
        margin-left: 0;
        width: 100%;
        margin-bottom: 30px;
        flex-direction: column;
        order: 2;
    }

    .lobby-info-center-container {
        order: 3;
        width: 100%;
    }

    .lobby-info-left-container > :not(.lobby-box) {
        order: 1
    }

    .lobby-info-left-container > .lobby-box {
        display: none;
    }

    .lobby-info-right-container > :not(.lobby-box) {
        order: 1;
    }

    .lobby-info-right-container > .lobby-box {
        display: none;
    }

}

.join-room-div {
    margin: 0 auto;
    width: 35vw;
    max-width: 80%;
    text-align: center;
    min-width: 250px;
}

.join-room-label {
    font-size: 1.7em;
}

#join-room-input {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5em;
}

.join-room-enter {
    width: 40%;
    border-radius: 10px;
    height: 50px;
    background: #217D9E;
    outline: none;
    border: none;
    font-size: 1em;
    color: white;
}

.join-room-enter:hover {
    filter: brightness(95%);
    cursor: pointer;
}

#join-room-input::placeholder {
    margin: auto;
}

#logo {
    margin: 0 auto;
    display: block;
}
