.lobby-container {
    border: 3px solid red;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.lobby-title {
    text-align: center;
}

.lobby-data-container {
    border: 4px solid blue;

    height: 0;
    flex: 1;

    display: flex;
}

.lobby-main-data {
    flex: 1;
}

.lobby-secondary-data {
    width: 280px;
}

.lobby-main-data,
.lobby-secondary-data {
    height: 100%;
    overflow: auto;
}

.lobby-footer {
    border: 3px solid greenyellow;

    display: flex;
    justify-content: space-between;
}
