.question-screen-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question-screen-desktop-header {
    display: flex;
    justify-content: center;
}

.question-screen-desktop-header-item {
    border: 3px solid #fff;
    background-color: var(--button-pink-color);
    border-radius: 10px;
    text-align: center;
    font-size: 0.95em;
    min-width: 225px;
    padding: 6px 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.question-screen-main-data-container {
    flex: 1;

    display: flex;
}

.question-screen-left,
.question-screen-right {
    border: 3px solid magenta;

    flex: 1;
}

.question-screen-center {
    width: 1024px;
}

.question-screen-desktop-clock-container {
    width: 120px;
}

.classic-question-container {
    border: 3px solid chartreuse;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.question-content-container {
    padding-top: 20px;
    padding-bottom: 20px;

    border: 3px solid red;
}

.question-content-container .question-content {
    text-align: center;
    font-size: 3em;
    font-family: "Coolvetica Rg", sans-serif;
}

.question-content-container .question-counter {
    text-align: center;

    margin-top: 10px;
}

.question-answers-container {
    border: 3px solid yellow;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-answers {
    border: 3px solid red;

    max-height: 100%;
}

.question-answers.qcm {
    height: 100%;
}

.question-answer-input {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;

    font-size: 1.6em;
    text-align: center;
}

.question-answer-input-validate-button-container {
    display: flex;
    justify-content: center;
}

.question-answer-input-display-qcm-button-container {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.question-answer-input-display-qcm-button {
    border: none;
    background-color: transparent;
    color: #fff;
    transition: color 0.1s ease-out;

    font-family: "Coolvetica Rg", sans-serif;
    font-size: 2rem;
}

.question-answer-input-display-qcm-button:hover {
    cursor: pointer;
    color: var(--a-hover-color);
}

.question-answer-qcm-container {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
}

.question-answer-qcm-answer-container {
    width: 50%;

    padding: 40px;
}

.question-answer-qcm-answer {
    border: 4px solid #fff;
    border-radius: 15px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.9em;
}
