{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau utilisateur{% endblock %}
{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('user') }}{% endblock %}

{% block body %}
    <h1 class="title-page">Ajouter un nouveau utilisateur</h1>
    <a class="btn btn-primary mt-3" href="{{ path('user_index') }}">retour à la liste</a>
    <div class="div-edit col-xl-4 col-md-8 col-12  mx-auto rounded shadow-lg mt-5 p-5 d-flex flex-column justify-content-center">
        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
