@import "custom";
@import "~bootstrap/scss/bootstrap";

$custom-blue:                 #007bff;

body {
  background-color: white;
}

.div-edit {
  color: white;
  font-size: 20px;
  input {
    border-radius: 4px;
    background-color: lightskyblue;
    border: none;
    height: 40px;
  }
  textarea{
    background-color: lightskyblue;
  }
}


#content-body {
  float: right;
  width: calc(100% - 100px);
  padding: 30px;
  height: 100%;
}

.table-entity {
  text-align: center;

  thead {
    background-color: #007bff;
  }

  td {
    vertical-align: middle;
  }

  tbody {
    tr {
      height: 60px;
    }
  }
}

.pagination {
  height: 50px;
  margin: 0 auto;
  width: max-content;
  span {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #007bff;
    border-radius: 7px;
    margin: 0 2px;
    &.first {
      border-radius: 25% 10%;
    }

    &.last {
      border-radius: 10% 25% ;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.title-page {
  text-transform: uppercase;
  color: #007bff;
  margin: 0 auto;
  width: max-content;
}

.div-edit {
  background-color: #007bff;
  th  {
    border-top: transparent 0px;
  }
  td  {
    border-top: transparent 0px;
  }
}

.no-result {
  font-size: 30px;
}
