html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: red; //TODO CHANGE
  flex-shrink: 0;
}

#global-container {
  flex: 1 0 auto;
  padding-left: 0;
}

.content-wrapper {
  padding: 20px;
}

.checkboxes-div {
  max-height: 200px;
  overflow: auto;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.placeholder {
  color: #6c757d;
  user-select: none;
}

.pointer-cursor {
  cursor: pointer;
}
