@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#global-container {
  flex: 1 0 auto;
  padding-left: 0;
  font-family: 'Lato', sans-serif;
}

.content-wrapper {
  padding: 20px;
}

.checkboxes-div {
  max-height: 200px;
  overflow: auto;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.placeholder {
  color: #6c757d;
  user-select: none;
}

.pointer-cursor {
  cursor: pointer;
}

.pagination > span {
  margin: 0 3px;
  padding: 2px 6px;
  border-radius: 2px;
}

.pagination > .page,
.pagination > .next,
.pagination > .last,
.pagination > .previous,
.pagination > .first {
  background-color: $gray-500;

  &:hover {
    background-color: $gray-700;
  }
}

.pagination > .current {
  background-color: $dark;
  color: white;
}

.pagination a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
  }
}
