@media (min-width: 577px) {
  #sidebar-home {
    & > a {
      color: #007bff;
      background-color: #FFFFFF;
      box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);

      i {
        color: #007bff;
      }
    }
  }
}
